<form class="login-form" [formGroup]="profileForm" *ngIf="!isProfileFormHidden" (ngSubmit)="submitProfileForm()">
  <label class="form-lable" for="username">Hello user, what's your name?</label>
  <input class="form-control" type="text" id="username" formControlName="username">
  <button class="form-btn" type="submit" [disabled]="!profileForm.valid">Continue</button>
</form>

<div class="game-control-wrapper" *ngIf="isProfileFormHidden">
  <p class="count" *ngIf="!isCountDownDone">Count: {{count}}</p>
  <p class="count" *ngIf="isCountDownDone">Player <span class="text-green">{{profileForm.value.username}}</span>: {{count}} clicks</p>
  <button class="start-btn" *ngIf="!isCountDownDone"
    (click)="startCount()">{{initClicker ? 'Start' : duration}}</button>
  <button class="top-players-btn" *ngIf="isCountDownDone" (click)="showPlayers()">View top players</button>
  <button class="top-players-btn" *ngIf="isCountDownDone" (click)="playAgain()">Play again</button>
</div>

<div [ngClass]="{'overlay': true, 'active': isPlayersVisible}">
  <button class="close-btn" (click)="showPlayers()">&times;</button>
  <h3 class="timer">Top 10 players</h3>
  <table class="players">
    <tr>
      <th>Player</th>
      <th>Count</th>
      <th>Duration</th>
      <th>Clicks per second</th>
    </tr>
    <tbody>
      <ng-container *ngFor="let player of players">
        <tr>
          <td>{{player.player}}</td>
          <td>{{player.count}}</td>
          <td>{{player.duration}}</td>
          <td>{{player.clicksPerSecond}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="settings-wrapper" *ngIf="isProfileFormHidden">
  <button class="settings-btn" 
    [ngClass]="{'plus': !isSettingsVisible, 'minus': isSettingsVisible}"
    (click)="toggleSettings()">Settings</button>

  <form [ngClass]="{'settings-form': true, 'active': isSettingsVisible}" 
    [formGroup]="settingsForm" 
    (change)="submitSettingsForm()">
    <label for="duration">Duration:</label>
    <select class="settings-form__select" id="duration" name="duration" formControlName="duration">
      <option value="10">10 seconds</option>
      <option value="20">20 seconds</option>
      <option value="30">30 seconds</option>
      <option value="40">40 seconds</option>
      <option value="50">50 seconds</option>
      <option value="60">60 seconds</option>
    </select>
  </form>
</div>

<router-outlet></router-outlet>